<div class="swiper-viewport">
  <div id="carousel{{ module }}" class="swiper-container">
    <div class="swiper-wrapper">{% for banner in banners %}
      <div class="swiper-slide text-center">{% if banner.link %}<a href="{{ banner.link }}"><img src="{{ banner.image }}" alt="{{ banner.title }}" class="img-responsive" /></a>{% else %}<a href="{{ banner.popup }}"><img src="{{ banner.image }}" alt="{{ banner.title }}" class="img-responsive" /></a>{% endif %}</div>
      {% endfor %}</div>
  </div>
  <div class="swiper-pagination carousel{{ module }}"></div>
  <div class="swiper-pager">
    <div class="swiper-button-next">
      <img src="/catalog/view/theme/default/image/modules/carousel-right.png" alt="" title="" />
    </div>
    <div class="swiper-button-prev">
      <img src="/catalog/view/theme/default/image/modules/carousel-left.png" alt="" title="" />
    </div>
  </div>
  <div class="swiper-bg"></div>
</div>

<script type="text/javascript"><!--
$('#carousel{{ module }}').swiper({
	mode: 'horizontal',
	slidesPerView: 5,
	pagination: '.carousel{{ module }}',
	paginationClickable: true,
	nextButton: '.swiper-button-next',
    prevButton: '.swiper-button-prev',
	loop: true,
  breakpoints: {
    480: {
      slidesPerView: 2,
    },
    768: {
      slidesPerView: 3,
    },
    992: {
      slidesPerView: 4,
    }
  }
});
$(document).ready(function() {
$('#information-information .swiper-slide').magnificPopup({
		type:'image',
		delegate: 'a',
		gallery: {
			enabled: true
		}
	});
});
--></script>