{{ header }}
<div id="checkout-form">
    <div class="container">
            <div class="row">
                <div class="col-12">
                    <ul class="breadcrumb">
                        {% for breadcrumb in breadcrumbs %}
                        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
                        {% endfor %}
                    </ul>
                    {% if error_warning %}
                        <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                        </div>
                    {% endif %}
                </div>
                <div class="col-12">
                    <h1>{{ heading_title }}</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-5">
                        <div class="checkout-block">
                            <div class="checkout-block-head">
                                <div class="head-number">1</div>
                                <div class="head-text">{{ text_shipping_method }}</div>
                            </div>
                            <div class="checkout-block-inner required">{{shipping_methods}}</div>
                        </div>
                        <div class="checkout-block">
                            <div class="checkout-block-head">
                                <div class="head-number">2</div>
                                <div class="head-text">Регион доставки</div>
                            </div>
                            <div class="checkout-block-inner">
                                <!--{% if customer_groups %}
                                    <div class="form-group required">
                                        <select name="customer_group_id" class="form-select form-control" id="checkout-usertype">
                                            {% for group in customer_groups %}
                                                <option value="{{ group.customer_group_id }}">{{ group.description }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <script>
                                        $("#checkout-usertype").change(function(){
                                            let usertype = $(this).val();
                                            let company = usertype == 2 ? '<div class="form-group required"><input type="text" name="company" placeholder="Название компании" class="form-control" /></div><div class="form-group required"><input type="text" name="inn" placeholder="ИНН" class="form-control" /></div>' : '';

                                            $("#usertype").html(company);
                                        });
                                    </script>
                                {% endif %}-->
                                <input name="customer_group_id" class="form-select form-control" id="checkout-usertype" value="1" type="hidden" />
                                {% if cities %}
                                    <div class="form-group required">
                                        <select name="zone_id" placeholder="Укажите город" id="input-shipping-zone" class="form-control form-select">
                                            {% for city in cities %}
                                                <option value="{{ city.zone_id }}">{{ city.name }}</option>
                                            {% endfor %}
                                        </select>
                                        <div class="city-delivery-text"></div>
                                        {% for city in cities %}
                                            <input name="city-delivery-text" id="city-delivery-text-{{ city.zone_id }}" value="{{ city.min_order_text }}" type="hidden" />
                                            <input name="city-delivery-price" id="city-delivery-price-{{ city.zone_id }}" value="{{ city.min_order }}" type="hidden" />
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="checkout-block">
                            <div class="checkout-block-head">
                                <div class="head-number">3</div>
                                <div class="head-text">{{ text_payment_method }}</div>
                            </div>
                            <div class="checkout-block-inner required">{{payment_methods}}</div>
                        </div>
                    <div class="checkout-block">
                        <div class="checkout-block-head">
                            <div class="head-number">4</div>
                            <div class="head-text">Покупатель</div>
                        </div>
                        <div class="checkout-block-inner">
                            <div class="checkout-block-tab active" id="usertype-1">
                                <div id="usertype"></div>
                                <div class="form-group required">
                                    <input type="text" name="firstname" placeholder="ФИО" class="form-control" />
                                </div>
                                <div class="form-group">
                                    <input type="text" name="company" placeholder="Название компании" class="form-control" />
                                </div>
                                <div class="form-group">
                                    <input type="text" name="unp" placeholder="УНП" class="form-control" />
                                </div>
                                <div class="form-group required">
                                    <input type="text" name="email" placeholder="Email" class="form-control" />
                                </div>
                                <div class="form-group required">
                                    <input type="text" name="phone" placeholder="Телефон" class="form-control" />
                                </div>
                                <div class="form-group">
                                    <input type="text" name="address" placeholder="Адрес доставки (если доставка курьером)" class="form-control" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-7 col-lg-6 offset-lg-1">
                    <div class="checkout-cart">
                        <div class="checkout-cart-header">
                            Ваш заказ
                        </div>
                        <div class="checkout-shop">
                            {% if logo %}
                                <div id="logo">
                                    <a href="{{ home }}"><img src="{{ logo }}" title="{{ name }}" alt="{{ name }}" class="img-responsive" /></a>
                                </div>
                            {% endif %}
                            <div class="checout-shopinfo">
                                <a href="{{ home }}" class="hostname">{{ hostname }}</a>
                                <a href="tel:{{telephone}}" class="phone">{{ telephone }}</a>
                            </div>
                        </div>
                        {{ checkout_products }}
                    </div>
                    <div class="custom-checkbox-group checkout-terms">
                        <label class="custom-checkbox required">
                            <input type="checkbox" name="gdpr" id="gdpr" value="1" required>
                            <span class="checkmark"></span>
                        </label>
                        <label for="gdpr">Соглашаюсь с Политикой конфиденциальностии даю согласие на обработку своих персональных данных</label>
                    </div>
                    <div class="checkout-buttons">
                        {{ payment }} 
                        <button class="btn btn-default" type="button" onclick="window.location.href='{{ cart }}'">Вернутся в корзину</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{{ footer }}