{{ header }}
<div id="checkout-form">
    {% if error_warning %}
        <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
            <button type="button" class="close" data-dismiss="alert">&times;</button>
        </div>
    {% endif %}
    <div class="container">
            <div class="row">
                <div class="col-12 col-md-5">
                        <div class="checkout-block">
                            <div class="checkout-block-head">
                                <div class="head-number">1</div>
                                <div class="head-text">{{ text_shipping_method }}</div>
                            </div>
                            <div class="checkout-block-inner required">{{shipping_methods}}</div>
                        </div>
                        <div class="checkout-block">
                            <div class="checkout-block-head">
                                <div class="head-number">2</div>
                                <div class="head-text">Регион доставки</div>
                            </div>
                            <div class="checkout-block-inner">
                                {% if customer_groups %}
                                    <div class="form-group required">
                                        <select name="customer_group_id" class="form-control">
                                            {% for group in customer_groups %}
                                                <option value="{{ group.customer_group_id }}">{{ group.description }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                {% endif %}
                                <div class="form-group required">
                                    <input type="text" name="city" placeholder="Укажите город" id="input-shipping-city" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="checkout-block">
                            <div class="checkout-block-head">
                                <div class="head-number">3</div>
                                <div class="head-text">{{ text_payment_method }}</div>
                            </div>
                            <div class="checkout-block-inner required">{{payment_methods}}</div>
                        </div>
                    <div class="checkout-block">
                        <div class="checkout-block-head">
                            <div class="head-number">4</div>
                            <div class="head-text">Покупатель</div>
                        </div>
                        <div class="checkout-block-inner">
                            <div class="checout-block-tab active" id="usertype-fiz">
                                <div class="form-group required">
                                    <input type="text" name="firstname" placeholder="ФИО" class="form-control" />
                                </div>
                                <div class="form-group required">
                                    <input type="text" name="email" placeholder="Email" class="form-control" />
                                </div>
                                <div class="form-group required">
                                    <input type="text" name="phone" placeholder="Телефон" class="form-control" />
                                </div>
                                <div class="form-group required">
                                    <input type="text" name="address" placeholder="Адрес доставки" class="form-control" />
                                </div>
                                <div class="form-group">
                                    <label>Комментарий</label>
                                    <textarea name="comment" rows="8" class="form-control">{{ comment }}</textarea>
                                </div>
                            </div>
                            <div class="checout-block-tab" id="usertype-jur">

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 offset-md-1">
                    <div class="checkout-cart">
                        <div class="checkout-cart-header">
                            Ваш заказ
                        </div>
                        <div class="checkout-shop">
                            {% if logo %}
                                <div id="logo">
                                    <a href="{{ home }}"><img src="{{ logo }}" title="{{ name }}" alt="{{ name }}" class="img-responsive" /></a>
                                </div>
                            {% endif %}
                            <div class="checout-shopinfo">
                                <a href="{{ home }}">{{ hostname }}</a>
                                <a href="tel:{{telephone}}" class="phone">{{ telephone }}</a>
                            </div>
                        </div>
                        {{ checkout_products }}
                        <div class="checkout-delivery">
                            <div class="checkout-cart-header">Доставка:</div>
                            <div class="checkout-cart-info">Расчет будет произведен после звонка менеджера</div>
                        </div>
                    </div>
                    <div class="checkout-policy">
                        <div class="custom-checkbox required">
                            <input type="checkbox" />
                        </div>
                        <div>
                            Соглашаюсь с Политикой конфиденциальностии даю согласие на обработке своих персональных данных
                        </div>
                    </div>
                    <div class="checkout-buttons">
                        
                        <button class="" type="button" onclick="window.location.href='{{ home }}'">Вернутся в каталог</button>
                    </div>
                </div>
            </div>
        </div>
{{ footer }}