
<div class="checkout-products">
  {% for product in products %}
    <div class="checkout-product">
      <div class="checkout-image">
        {% if product.thumb %} 
          <img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-fluid" />
        {% endif %}
      </div>
      <div class="checkout-info">
        <div class="product-name"><a href="{{ product.href }}">{{ product.name }}</a></div>
        <div class="product-price">
          <div class="product-count">
            <div class="product-count-value">
              <span>Цена:</span>
              <span>{{ product.price }}</span>
            </div>
            <div class="product-count-value">
              <span>Количество:</span>
              <span>{{ product.quantity }}</span>
            </div>
          </div>
          <div class="product-count-value">
            <span>Стоимость:&nbsp;</span>
            <span>{{ product.total }}</span>
          </div>
        </div>
      </div>
      <button type="button" data-toggle="tooltip" title="{{ button_remove }}" onclick="cart.remove('{{ product.cart_id }}');" class="cart-remove">
        <img src="/catalog/view/theme/default/image/checkout/delete.svg" alt="" />
      </button>
    </div>
  {% endfor %}
  {% for total in totals %}
    <div class="total">
      <span>{{ total.title }}:</span>
      <span class="total-price">{{ total.text }}</span>
    </div>
  {% endfor %}
  <div class="checkout-delivery">
    <div class="checkout-delivery-header">Доставка:</div>
    <div class="checkout-delivery-info">Расчет будет произведен после звонка менеджера</div>
  </div>
</div>
<script>
  $(document).ready(function(){
    calculateShipping();
    $("#input-shipping-zone").change(function(){
      calculateShipping();
    });
    $("#shipping_method").change(function(){
      calculateShipping();
    });
    $("#shipping_method").change(function(){
      calculateShipping();
    });
  }); 

  function calculateShipping(){
    let shippingPrice = $(`#city-delivery-price-${$("#input-shipping-zone").val()}`).val();
    let shippingText = '';

    let diff = {{ totalAmount }} - shippingPrice;

    let shippingMethod = $("#shipping_method").val();
    let shippingInfo = '0 {{ currency }}';

    let parts = shippingMethod.split('.');
    $(".shipping-description").removeClass("active");
    $("#shipping-description-" + parts[0]).addClass("active");

    if(shippingMethod == "flat.flat"){
      shippingText = $(`#city-delivery-text-${$("#input-shipping-zone").val()}`).val();
      shippingText = `<div class="city-delivery-description">${shippingText} <span>${Math.abs(Math.ceil((diff)*100)/100).toFixed(2)} {{ currency }}</span></div>`;

      if(diff >= 0){
        shippingText = '';
      }else{
        shippingInfo = 'Расчет срока и доставки будет произведен после звонка менеджера';
      }
    }

    $(".checkout-delivery-info").html(shippingInfo);
    $(".city-delivery-text").html(shippingText);
  }
  
</script>