
<div class="checkout-products">
  {% for product in products %}
    <div class="checkout-product">
      <div class="checkout-image">
        {% if product.thumb %} 
          <img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-fluid" />
        {% endif %}
      </div>
      <div class="checkout-info">
        <div class="product-name"><a href="{{ product.href }}">{{ product.name }}</a></div>
        <div class="product-price">
          <div class="product-count">
            <div class="product-count-value">
              <span>Цена:</span>
              <span>{{ product.price }}</span>
            </div>
            <div class="product-count-value">
              <span>Количество:</span>
              <span>{{ product.quantity }}</span>
            </div>
          </div>
          <div class="product-total">
            <span>Итого:&nbsp;</span>
            <span>{{ product.total }}</span>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
  {% for total in totals %}
    <div class="total">
      <span>{{ total.title }}:</span>
      <span class="total-price">{{ total.text }}</span>
    </div>
  {% endfor %}
  <div class="checkout-delivery">
    <div class="checkout-delivery-header">Доставка:</div>
    <div class="checkout-delivery-info">Расчет будет произведен после звонка менеджера</div>
  </div>
</div>