{% if error_warning %}
  <div class="alert alert-warning alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}</div>
{% endif %}
{% if shipping_methods %}
  <select name="shipping_method" class="form-select form-control" id="shipping_method">
    <option value="0">Выберите способ доставки</option>
    {% for shipping_method in shipping_methods %}
      {% for quote in shipping_method.quote %}
        <option value="{{ quote.code }}">{{ quote.title }}</option>
      {% endfor %}
    {% endfor %}
  </select>
{% for shipping_method in shipping_methods %}
    {% for quote in shipping_method.quote %}
        {% set parts = quote.code | split('.') %}
        <div class="shipping-description" id="shipping-description-{{ parts[0] }}">{{ quote.comment | raw }}</div>
      {% endfor %}
{% endfor %}
<script>
  $("#shipping_method").change(function(){
    let method = $(this).val();
    let parts = method.split('.');
    $(".shipping-description").removeClass("active");
    $("#shipping-description-" + parts[0]).addClass("active");
  });
</script>
{% endif %}
