{% if category %}
    <button type="button" id="blog-toggler">
        <span class="image">
            <img src="{{ category.image }}" alt="" title="{{ category.title }}" />
        </span>
        <span>{{ category.title }}</span>
    </button>
    <script>
        $("#blog-toggler").on('click', function(){
            $(".blog-menu").toggleClass("show");
        });
    </script>
{% endif %}
{% if categories %}
    <div class="nav blog-menu">
        {% for category in categories %}
            <div class="li">
                <a href="{{ category.href }}" {{ category.class }}>
                    <span class="image">
                        <img src="{{ category.image }}" alt="" title="{{ category.title }}" />
                    </span>
                    <span>{{ category.title }}</span>
                </a>
            </div>
        {% endfor %}
    <div>
{% endif %}
