{{ header }}
<style>
{{custom_style}}
</style>
<div id="blog-category" class="container">
    <div class="row">
        <aside id="column-left" class="col-12 col-md-3 blog-navigation">
            {{ menu }}
        </aside>
        <div id="content" class="col-12 col-md-9">
            <ul class="breadcrumb">
                {% for breadcrumb in breadcrumbs %}
                <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
                {% endfor %}
            </ul>
            <div class="bm">
                {% if posts %}
                    {% include '/default/template/' ~ layout_template ~ '.twig' with posts %}
                {% endif %}

                {% if not posts and post_display_on_main == false %}
                    <p class="bm-empty">{{text_empty}}</p>
                {% endif %}
            </div> 
            <div class="row">
                <div class="col-12">{{ pagination }}</div>
            </div> 
        </div>
        {{ column_right }}
    </div>
    <div class="row">{{content_bottom}}</div>
</div>
<a class="bck" href="#"></a>
{{ footer }} 