{{ header }}
<div id="information-contact" class="container">
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul>
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="{{ class }}">{{ content_top }}
      <h1>{{ heading_title }}</h1>
      <div class="contacts">
        <div class="contact-panel">
          <div class="row">
            <div class="col-12 col-sm-6">
              <div class="contact-block">
                <div class="contact-header">Офис (Склад)</div>
                <div class="contact-info">
                  <div class="contact-info-icon"><img src="/catalog/view/theme/default/image/contact/address.svg" alt="" title="" /></div>
                  <div class="contact-info-text">{{ address }}</div>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-6">
              <div class="contact-block">
                <div class="contact-header">Время работы</div>
                <div class="contact-info">
                  <div class="contact-info-icon"><img src="/catalog/view/theme/default/image/contact/time.svg" alt="" title="" /></div>
                  <div class="contact-info-text"><span>{{ open }}<br/></span><span>{{ lunch }}</span></div>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-6">
              <div class="contact-block">
                <div class="contact-header">Наша почта</div>
                <div class="contact-info">
                  <div class="contact-info-icon"><img src="/catalog/view/theme/default/image/contact/email.svg" alt="" title="" /></div>
                  <div class="contact-info-text">{{ admin_email }}</div>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-6">
              <div class="contact-block">
                <div class="contact-header">Телефон</div>
                <div class="contact-info">
                  <div class="contact-info-icon"><img src="/catalog/view/theme/default/image/contact/phone.svg" alt="" title="" /></div>
                  <div class="contact-info-text"><span>{{ telephone }}</span><br/><span>{{ fax }}</span></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
            {{ content_bottom }}
          </div>
      </div>
    </div>
    {{ column_right }}</div>
</div>
{{ footer }}